<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-ExtraBold.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>Neuropolitical-Regular.ttf</string>
		<string>Audiowide-Regular.ttf</string>
	</array>
</dict>
</plist>
